body {
    background: #fdf2f8;
    margin: 0;
}

/* CONTENEDOR */
.contenedor-principal {
    text-align: center;
    padding: 30px;
}


/* GRID */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
    padding: 20px;
}

/* CARTAS */
.carta-pinterest {
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

    /* HOVER */
    .carta-pinterest:hover {
        transform: translateY(-10px) scale(1.02);
    }

    /* TITULO CARTA */
    .carta-pinterest h3 {
        font-family: 'Playfair Display', serif;
        color: #d63384;
    }

/* PREVIEW */
.preview {
    color: gray;
    font-size: 14px;
}

/* CONTENIDO */
.contenido {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    text-align: left;
}

/* CARTA ABIERTA */
.carta-pinterest.abierta {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    z-index: 999;
    padding: 40px;
    overflow-y: auto;
}

    /* EXPANSIÓN */
    .carta-pinterest.abierta .contenido {
        max-height: 2000px;
    }

/* FONDO OSCURO */
.fondo-oscuro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 998;
}
